html{
 height: 100%;
}
body{
 overflow-x: hidden;
}
body.home{
 height: 100%;
 padding-top: 50px;
 background: black;
 background-position: center;
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
 background-image: url(../img/2.jpg);
}

p {
 font-family: 'Droid Sans', sans-serif;
}

html body h1{
 margin: 0 0  30px 0;
 color: #FFFF7F;
 font-size: 30px;
 letter-spacing: 1.6px;
 font-weight: 200;
 font-family: 'Raleway', sans-serif;
}

html body h2{
 margin: 0;
 color: #FFFFB2;
 font-size: 23px;
 font-family: 'Catamaran', sans-serif;
 font-weight: 200;
}

.row{
 margin: 0;
}

.mar-pad{
 margin-top: -50px;
 padding-top: 50px;
}

@media (max-width: 768px){
 body.home{
  background-attachment: fixed!important;
 }
}



/*NAVIGATION*/

.navbar {
 background-color: #0f0f0f;
 border-bottom:1px solid rgba(255,255,178,0.7);
 font-family: 'Lato', sans-serif;
}

.navbar a {
 color:#FFFFCE !important;
}

.navbar a:hover {
 color: #FFFF7F!important;
 background-color:#000 !important;

 text-shadow: 0 10px 20px rgba(255,255,100,1);
}

.navbar-header .navbar-brand {
 padding: 0;
 position: absolute; left:40%;
 width:20%;
 font-size:1.5em;
}


.navbar-header a.navbar-brand:hover {
 background-color: transparent!important;
}


.navbar-default .nav li.active a {
 color: #FFFF7F!important;
 background-color:#000 !important;

 text-shadow: 0 10px 20px rgba(255,255,100,1);
}

ul.navbar-nav{
 width:100%;
}

.img-nav{
 height: 100px;
 margin:0 auto;
 position: relative;
 z-index: 100;
}

.img-nav:hover{
 box-shadow: 0 0 10px rgba(255,255,178,0.5);
}

.collapsing{
 border:none!important;
}

.navbar-collapse.collapse.in{
 position: relative;
 z-index: 0;
}

@media (min-width: 768px){
 .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
  margin: 0;
 }
 .navbar .float-left{
  float: left;
 }

 .navbar .float-right{
  float: right!important;
 }
}
@media (max-width: 768px){
 .navbar {
 }

 .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
 }
 .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  left: 30%;
  width: 40%;
 }
 .navbar-nav {
  margin: 0;
 }

 .navbar-collapse {
  -webkit-box-shadow: inset 0 1px 0 transparent;
  box-shadow: inset 0 1px 0 transparent;
 }

}
@media (max-width: 568px){
 .img-nav {
  height: 70px;
 }
 .navbar {
  border-bottom: none;
 }
}
@media (max-width: 736px)and (max-height: 414px){
 .img-nav {
  height: 50px;
 }
 .navbar {
  border-bottom: none;
 }
}

/*----------------------------------------HEADER----------------------------------------------*/

.header{
 background: transparent;
 position: relative;
 height: 100%;
}
  .myCanvas{
   box-sizing: border-box;
   height: 99%;
   width:100%;
  }
  .header .logo {
   position: absolute;  top: 35%;  left:32.5%;
   box-sizing: border-box;  width: 35%;  height: 30%;
   border: 3px solid rgba(255,255,178,0.7);
   box-shadow: 0 0 10px rgba(255,255,178,0.5);
   cursor: pointer;
   text-align: center; text-transform: uppercase;
   display:table;

  }
   .header .logo .logo-cont{
    display:table-cell;vertical-align:middle;
   }

   .header .logo:hover{
    box-shadow: 0 0 20px rgba(255,255,178,1);
    text-shadow: 0 0 10px rgba(255,255,178,1);
   }

    .header .logo .logo-cont .logo-head{
     margin: 0 0  30px 0;
     color: #FFFF7F;
     font-size: 42px;
     letter-spacing: 1.6px;
     font-weight: 200;
     font-family: 'Raleway', sans-serif;
     text-align: center;
    }

    .header .logo .logo-head-2{
     margin: 0;
     color: #FFFFB2;
     font-family: 'Catamaran', sans-serif;
     font-weight: 200;
     text-align: center;
    }

@media (max-width: 991px) {
 .header .logo {
  left:27.5%;
  width: 45%;
 }
 .header{
  box-shadow: 0 0 30px rgba(255,255,178,0.5);
 }
}

@media (max-width: 768px) {
 .header .logo {
  top :40%;left:20%;
  width:60%;
  height: 20%;
 }
}

@media (max-width: 540px) {
 .header .logo .logo-cont .logo-head {
  font-size: 23px;
 }

 .header .logo .logo-cont .logo-head-2 {
  font-size: 17px;
 }
}

@media (max-width: 736px)and (max-height: 414px){
 .header .logo {
  left:20%;
  width: 60%;
  height:20%;
  top:30%;
 }
}

 /*---------------------------------------END HAEDER-------------------------------------------------*/

/*---------------------------------------PORTFOLIO-------------------------------------------------*/




.portfolio-section{
 height: 100%;
}

.portfolio-item-cont{
 overflow: hidden;
 /*border:1px solid red;*/
 height: calc(100% + 50px);
}

.item-description{
 display: table;
 height: 50%;
 position: relative;
 top:25%;
}

.item-description.item-left{
 padding-left: 10%;
}

.item-description.item-right{
 padding-left: 5%;
}

.item-description .logo-head{
 /*-----------animation---------*/
 position: relative;
 left:0;
 transition-property: transform, left, right, font-size;
 -webkit-transition-duration: 2s;  -moz-transition-duration: 2s;  -ms-transition-duration: 2s;  -o-transition-duration: 2s;
 transition-duration: 2s;
}

.item-description .logo-head-2{
 /*-----------animation---------*/
 position: relative;
 left:0;
 transition-property: transform, left, right, font-size;
 -webkit-transition-duration: 2s;  -moz-transition-duration: 2s;  -ms-transition-duration: 2s;  -o-transition-duration: 2s;
 transition-duration: 2s;
}

.item-description-cont{
 display: table-cell;
 vertical-align: middle;
}

.portfolio-view{
 height: 100%;

}

.portfolio-view.item-right{
 padding-left: 10%;
}

.portfolio-view.item-left{
 padding-left: 15%;
}

.item-image-cont{
 position: relative;
 top: 25%;
 display: block;
 height: 50%;
}

.img-items-cont{
 height: 300px;
 width: 300px;
 display: inline-block;
 overflow: hidden;
 box-sizing: content-box;
 border-radius: 5px;
 border: 3px solid rgba(255,255,178,0.7);
 box-shadow: 0 0 30px rgba(255,255,178,0.5);
 -webkit-transform: rotate(-45deg);  -moz-transform: rotate(-45deg);  -ms-transform: rotate(-45deg);  -o-transform: rotate(-45deg);
 transform: rotate(-45deg);
 margin-left: 0;
 /*-----------animation---------*/
 position: relative;
 left:0;
 transition-property: transform, left, top, width, height;
 -webkit-transition-duration: 2s;  -moz-transition-duration: 2s;  -ms-transition-duration: 2s;  -o-transition-duration: 2s;
 transition-duration: 2s;
}

.img-items{
height: 425px;
 width: 425px;
 margin: -62px auto auto -62px;
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);
}


@media (max-width: 991px) {
 .portfolio-item-cont{
  box-shadow: 0 0 30px rgba(255,255,178,0.5);
 }

 .portfolio-view {
  height: 70%;
 }
 .item-description {
  top: 0;
 }
 .item-image-cont {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
 }

 .img-items-cont {
  /*--------animation--------------------------*/
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
 }
 .item-description .logo-head{
  /*------animation--------------------------*/
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
 }
 .item-description .logo-head-2{
  /*------animation--------------------------*/
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
 }

 .portfolio-view.item-right{
  padding-bottom: 13%;
  padding-left: 0;
  padding-right: 0;
 }
 .portfolio-view.item-left{
  padding-bottom: 10%;
  padding-left: 0;
  padding-right: 0;
 }

 .item-description {
  height: 30%;
  text-align: center;
  width: 100%;
 }

 .item-description.item-left{
  padding: 0;
 }

 .item-description.item-right{
  padding: 0;
 }

 .item-description.item-right .item-description-cont{
  vertical-align: top;
 }

 .item-description.item-left  {
  vertical-align: bottom;
 }
}

@media (max-width: 736px)and (max-height: 414px){
 .item-description .logo-head-2{
  display: none;
 }

 .item-description {
  height: 20%;
 }

 .portfolio-view {
  height: 80%;
 }

}



/*---------------------------------------END PORTFOLIO-------------------------------------------------*/

/*---------------------------------------ANIMATION ----------------------------------------------------*/

.animation-rotate-45{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.animation-x-left{
left: -700px!important;
 }

.animation-x-right{
left: 700px!important;
}

.animation-increase{
 width:1px!important;
 height:1px!important;
}

.animation-increase-font{
 font-size: 1px!important;
}