
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.BrowsingCofounders_mobilecontainer {
	padding: 0;
	background: none;
	color: white;
}
/* mobilebutton_134 */
#BrowsingCofounders_mobilebutton_134 {

}
.ui-btn.BrowsingCofounders_mobilebutton_134 {
	margin: 4px 5px 4px 5px;
}
/* mobilelabel_135 */
.BrowsingCofounders_mobilelabel_135 {
	/*text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;*/
}
/* mobilelabel_12 */
.BrowsingCofounders_mobilelabel_12 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 18px;
	/*margin: 4px 0px 4px 0px;*/
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_117 */
.BrowsingCofounders_mobilelabel_117 {
	text-decoration: none; font-weight: normal;/* font-style: italic; text-align: left; */font-family: Helvetica; font-size: 16px;
	/*margin: 4px 0px 4px 0px;*/
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_118 */
.BrowsingCofounders_mobilelabel_118 {
	text-decoration: none; font-weight: normal;/* font-style: italic; text-align: left;*/ font-family: Helvetica; font-size: 16px;
	/*margin: 4px 0px 4px 0px;*/
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_119 */
.BrowsingCofounders_mobilelabel_119 {
	text-decoration: none; font-weight: normal; /*font-style: italic;*//* text-align: left; */font-family: Helvetica; font-size: 16px;
	/*margin: 4px 0px 4px 0px;*/
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_120 */
.BrowsingCofounders_mobilelabel_120 {
	text-decoration: none; font-weight: 400;/* font-style: italic; *//*text-align: left;*/ font-family: Helvetica; font-size: 16px;
	/*margin: 4px 0px 4px 0px;*/
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_121 */
.BrowsingCofounders_mobilelabel_121 {
	text-decoration: none; font-weight: normal;/* font-style: italic; *//*text-align: left; */font-family: Helvetica; font-size: 16px;
	/*margin: 4px 0px 4px 0px;*/
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_122 */
.BrowsingCofounders_mobilelabel_122 {
	text-decoration: none; font-weight: normal; /*font-style: italic; *//*text-align: left;*/ font-family: Helvetica; font-size: 16px;
	/*margin: 4px 0px 4px 0px;*/
	word-wrap: break-word;
	white-space: normal;
}
/* button_invite */
#BrowsingCofounders_button_invite {

}
/*.ui-btn.BrowsingCofounders_button_invite {
	margin: 2px 15px 2px 15px;
}*/
/* mobileimage_136 */
.BrowsingCofounders_mobileimage_136 {
	/*margin: 4px 0px 4px 0px;*/
	width: 457px; height: 100px;
	display: block;
}
/* mobilelabel_157 */
.BrowsingCofounders_mobilelabel_157 {
	text-decoration: none; font-weight: normal; /*font-style: italic;*/ /*text-align: left;*/ font-family: Helvetica; /*font-size: 16px;*/
	/*margin: 4px 0px 4px 0px;*/
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_143 */
.BrowsingCofounders_mobilelabel_143 {
	text-decoration: none; font-weight: normal; /*font-style: italic;*/ /*text-align: left; */font-family: Helvetica;/* font-size: 16px;*/
	/*margin: 4px 0px 4px 0px;*/
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_156 */
.BrowsingCofounders_mobilelabel_156 {
	text-decoration: none; font-weight: normal;/* font-style: italic; *//*text-align: left;*/ font-family: Helvetica; /*font-size: 16px;*/
	/*margin: 4px 0px 4px 0px;*/
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_144 */
.BrowsingCofounders_mobilelabel_144 {
	text-decoration: none; font-weight: normal; /*font-style: italic; *//*text-align: left; */font-family: Helvetica;/*font-size: 16px;*/
	/*margin: 4px 0px 4px 0px;*/
	word-wrap: break-word;
	white-space: normal;
}
/* mobileimage_140 */
.BrowsingCofounders_mobileimage_140 {
	/*margin: 4px 0px 4px 0px;*/
	width: 100px; height: 100px;
	display: block;
}
/* mobilefooter */
.BrowsingCofounders_mobilefooter {
	min-height:38px;
}
/* error_popup */
.BrowsingCofounders_error_popup {

}
div.BrowsingCofounders_error_popup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.BrowsingCofounders_error_popup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
	padding: 10px 10px 10px 10px;
}
/* errorHeader_label */
.BrowsingCofounders_errorHeader_label {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; /*font-size: 16px;*/
	margin: 4px 0px 4px 0px;
	/*word-wrap: break-word;*/
	white-space: normal;
}
/* error_label */
.BrowsingCofounders_error_label {
	text-decoration: none; font-weight: bold; /*font-style: italic;*/ color: #f34343; text-align: center; font-family: Helvetica; /*font-size: 16px;*/
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* login_popup */
.BrowsingCofounders_login_popup {

}
div.BrowsingCofounders_login_popup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.BrowsingCofounders_login_popup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
	padding: 10px 10px 10px 10px;
}
/* loginInfo_label */
.BrowsingCofounders_loginInfo_label {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}



/*new changes*/

body{
	background: #0f0f0f!important;
}

#BrowsingCofounders{
	background: #0f0f0f url(../Main_files/Img_main/Main_bg.jpg)  no-repeat top center;
	background-size: 750px 1296px;
	height: 1296px;
	width: 750px;
	box-sizing: border-box;
	margin: 0 auto 0 auto;
	padding: 0;
	overflow:hidden;
	position: relative;
}

.BrowsingCofounders_mobilecontainer{
	position: relative;

}

.BrowsingCofounders_mobileheader{
	background:  url(Img_BrowseCoFounders/BrowsingCofounders_1.png)  no-repeat 25% 74%;
	background-color: transperent;
	height: 90px;
	border: none;
}
.BrowsingCofounders_mobileheader h1{
	font-size: 45px!important;
	font-family: Enigma;
	display: block;
	text-align: center;
	margin: 0 0 0 95px !important;
	padding: 18px 0 0 0 !important;

}
.BrowsingCofounders_mobileheader h1 span{
	color: #1ea0cb!important;
}

.BrowsingCofounders_mobilebutton_134{
	color:transparent !important;
	background: transparent url(Img_BrowseCoFounders/BrowsingCofounders_2.jpg)  no-repeat center !important;
	border: none ;
	padding: 0;
	margin: 0!important;
	width:90px;
	height: 75px;
	position: absolute;
	top:7px;
	left:-1px;
}

.BrowsingCofounders_mobilecontainer .BrowsingCofounders_mobilelabel_135{
	height: 90px;
	background:#ebebeb;
	color:#242627;
	display: block;
	text-align: center;
	padding-top: 20px;
	font-size: 40px;
	text-transform: uppercase!important;
	box-sizing: border-box;
}

.BrowsingCofounders_mobilelabel_12{
	background:transparent url(Img_BrowseCoFounders/BrowsingCofounders_3.png)  no-repeat 26% 50%;
	box-sizing: border-box;
	height: 145px;
	color: #b3ebff;
	font-size: 40px;
	font-weight: normal;
	position: relative;

}

.BrowsingCofounders_mobilelabel_12 span{
	position: absolute;
	left:36.5%;
	top:33%;
}

.BrowsingCofounders_mobilelabel_117 {
	height:75px;
	text-align: center;
	font-size: 38px;
	color: #ffffff;
	font-style: normal;
	text-transform: uppercase;
	font-weight: normal;
	border-bottom: solid 7px #ebebeb;
	background: rgba(255,255,255,0.2);

}

.BrowsingCofounders_mobilelabel_117 span{
	display: block;
	padding-top:10px;
}

.BrowsingCofounders_mobilelabel_118{
	height:75px;
	text-align: center;
	font-size: 31px;
	color: #ffffff;
	font-style: normal;
	text-transform: uppercase;
	font-weight: normal;
	background: rgba(255,255,255,0.2);
}

.BrowsingCofounders_mobilelabel_118 span{
	display: block;
	padding-top:16px;
}

.BrowsingCofounders_mobilelabel_119 {
	height:80px;
	font-size: 31px;
	color: #b3ebff;
	font-style: normal;
	font-weight: normal;
	box-sizing: border-box;
}

.BrowsingCofounders_mobilelabel_119 span{
	display: block;
	padding-top:16px;
	margin-left: 62px;
}

.BrowsingCofounders_mobilelabel_120 {
	height:80px;
	font-size: 31px;
	color: white;
	font-style: normal;
	font-weight: normal;
	box-sizing: border-box;
}

.BrowsingCofounders_mobilelabel_120 span{
	display: block;
	padding-top:16px;
	margin-left: 62px;
}

.BrowsingCofounders_mobilelabel_121 {
	height:80px;
	font-size: 31px;
	color: #b3ebff;
	font-style: normal;
	font-weight: normal;
	box-sizing: border-box;
	background: rgba(255,255,255,0.2);
}

.BrowsingCofounders_mobilelabel_121 span{
	display: block;
	padding-top:16px;
	margin-left: 62px;
}

.BrowsingCofounders_mobilelabel_122 {
	height:260px;
	font-size: 31px;
	color: white;
	font-style: normal;
	font-weight: normal;
	box-sizing: border-box;
	background: rgba(255,255,255,0.2);
}

.BrowsingCofounders_mobilelabel_122 span{
	display: block;
	padding-top:16px;
	margin-left: 62px;
}

.BrowsingCofounders_button_invite{
	box-sizing: border-box;
	height:95px;
	width:360px;
	margin: 27px auto 27px auto;
	display: block;
	color: white !important;
	font-size: 38px;
	background: #4789c1 url(Img_BrowseCoFounders/BrowsingCofounders_5.png)  no-repeat 26% 50% !important;
	padding: 24px 0 0 75px;
	text-transform: uppercase;

}

.BrowsingCofounders_mobileimage_136{
	display:none;
}


.BrowsingCofounders_mobilelabel_157{
	height:46px;
	font-size: 28px;
	color: white;
	font-style: normal;
	font-weight: normal;
	border-top: 2px solid white;
	box-sizing: border-box;
	text-transform: uppercase;
	text-align: center;
	padding-top: 3px;
	margin: 0;
}

.container_footer{

	color:#142e3c;

	height: 120px;
	position: relative;
	background: #fff url(Img_BrowseCoFounders/BrowsingCofounders_4.jpg)  no-repeat 98% 50% !important;
}

.container_footer .cost{
	box-sizing: border-box;
	float: left;
	width: 350px;
	height: 100%;
	font-size: 38px;
	font-style: normal!important;
	text-transform: uppercase;
	text-align: center!important;
	padding-top:20px;
	line-height: 1.1em;
}


.BrowsingCofounders_mobilelabel_144{
	position:absolute;
	top:49px;
	left:360px;
	text-transform: uppercase;
	font-size: 20px;

}

.qt-dropdown, #window-resizer-tooltip{
	display:none;
}