/*.ui-dimmed {
    opacity: .3;
}*/

/*------------------ PUBLIC PROFILE PAGE ------------ */

#Profile_Details_user_pitch {
    height: 100px !important;
}

[name="user_email"].ui-disabled {
    opacity: .9;
    background-color: rgb(224, 224, 224) !important;
}

#Main .Main_logo_image, #Login .Login_logo_image {
    margin: -40px auto 4px;
    width: auto;
    height: 40px;
    display: block;
}

#Main .Main_right_button.ui-link.ui-btn.ui-btn-a[name="right_button"] {
    float: right;
}


/*#Main [name="button_invite"] {
    position: relative;
    bottom: 5px;
}*/

#Main .Main_mobilefooter {
    min-height: 30px;
}

/*
@media screen and (min-width: 320px) and (max-height:480px) { 
    #Main td.Main_content_cell {
        height: 150px !important;
    }
}
@media screen and (min-width: 320px) and (max-height:640px) { 
    #Main td.Main_content_cell {
        height: 120px !important;
    }
}
*/
/* GALAXY S3*/
/*
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2){
    #Main td.Main_content_cell {
        height: 120px !important;
    }    
}

@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 1.5){
    #Main td.Main_content_cell {
        height: 120px !important;
    }    
}

@media screen and (min-width: 400px) and (max-height:800px) {

    #Main td.Main_content_cell {
        height: 125px !important;
    }
}

@media screen and (min-width: 480px) and (max-height:800px) {

    #Main td.Main_content_cell {
        height: 190px !important;
    }
}
*/

/* IPNONE 5 LAND & PORT*/
/*
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #Main td.Main_content_cell {
        height: 120px !important;
    }
}
*/

/* IPNONE 6 LAND & PORT*/
/* @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    #Main td.Main_content_cell {
        height: 170px !important;
    }
}
*/


/*------------------ LANDING PAGE ------------ */
/*#CFWM_LP_logo_cell  div.cell-wrapper > .Landing_logo_image {
    display: inline;
    margin: 0px;
}

#CFWM_LP_logo_cell div.cell-wrapper {
    text-align: center;
}
#CFWM_LP_logo_cell {
    text-align: center;
}*/


#Landing_logo_grid {
    margin: 0 auto;
}

html body .ui-btn.ui-btn-a.cfbutton {
    background:red;
    border-color:black;
    /*Testing the option to CSS*/
}