/* "CenturyGothicBold" */
@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/CenturyGothic/CenturyGothicBold.eot");
  src: url("../fonts/CenturyGothic/CenturyGothicBold.woff") format("woff"),
  url("../fonts/CenturyGothic/CenturyGothicBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

/* "CenturyGothicRegular" */
@font-face {
  font-family: "CenturyGothic";
  src: url("../fonts/CenturyGothic/CenturyGothicRegular.eot");
  src: url("../fonts/CenturyGothic/CenturyGothicRegular.woff") format("woff"),
  url("../fonts/CenturyGothic/CenturyGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}