<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=css/main.min.css>
    <link rel="stylesheet" href=css/@@css.min.css>
</head>
<body>
  <header class="header">
      <div class="common__cont">
          <ul class="header__grid">
              <li class="header__col _1">

                  <ul class="contacts__grid">
                      <li class="contacts__col">
                          <a href="#!" class="contacts__link">
                          <svg class="contacts__icon _1">
                              <use xlink:href="#icon-facebook-logo"></use>
                          </svg>
                          </a>
                      </li>
                      <li class="contacts__col">
                          <a href="#!" class="contacts__link">
                          <svg class="contacts__icon _2">
                              <use xlink:href="#icon-instagram"></use>
                          </svg>
                          </a>
                      </li>
                      <li class="contacts__col">
                          <a href="#!" class="contacts__link">
                          <svg class="contacts__icon _3">
                              <use xlink:href="#icon-linkedin-sign"></use>
                          </svg>
                          </a>
                      </li>
                      <li class="contacts__col">
                          <a href="#!" class="contacts__link">
                          <svg class="contacts__icon _4">
                              <use xlink:href="#icon-skype-logo"></use>
                          </svg>
                          </a>
                      </li>
                      <li class="contacts__col">
                          <a href="#!" class="contacts__link">
                          <svg class="contacts__icon _5">
                              <use xlink:href="#icon-twitter-logo-button"></use>
                          </svg>
                          </a>
                      </li>
                      <li class="contacts__col">
                          <a href="#!" class="contacts__link">
                          <svg class="contacts__icon _6">
                              <use xlink:href="#icon-vk-social-logotype"></use>
                          </svg>
                          </a>
                      </li>
                  </ul>
              </li>
              <li class="header__col _2">
                  <a href="#!" class="header__logo-link">
                    <img src="img/logo.png" alt="awesome portal" class="header__logo">
                  </a>
              </li>
              <li class="header__col _3">
                  <form class="reg-form">
                          <ul class="reg-form__grid">
                              <li class="reg-form__col _1">
                                  <input class="reg-form__input _email" id="email" type="email" name="Email" placeholder="Ваш email адрес" required>
                              </li>
                              <li class="reg-form__col _2">
                                  <input class="reg-form__input _email" id="name" type=text" name="Name" placeholder="Ваше имя" required>
                              </li>
                          </ul>
                      <button class="reg-form__btn" type="submit" id="submit">зарегистрироваться</button>
                  </form>
              </li>
          </ul>
      </div>
      <nav id="navbar" class="navbar">
          <a href="#!" class="navbar__btn">
              <svg class="navbar__menu-btn">
                  <use xlink:href="#icon-menu-button"></use>
              </svg>
          </a>

          <ul class="navbar__nav-ul">
              <li class="navbar__nav-li"><a class="navbar__link" title="Новости"  href="#news"    >Новости<hr></a></li>
              <li class="navbar__nav-li"><a class="navbar__link" title="Статьи"   href="#articles">Статьи<hr></a></li>
              <li class="navbar__nav-li"><a class="navbar__link" title="О нас"    href="#about"   >О нас<hr></a></li>
              <li class="navbar__nav-li"><a class="navbar__link" title="Контакты" href="#contacts">Контакты<hr></a></li>
          </ul>
      </nav>
  </header>



