$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "barellFiles.scss";

body{
  font-family: 'Roboto';
  padding: 10px 2px 0 2px;
}

a{
  color: inherit;
}
a:hover{

  text-decoration: none;

}
