<!-- If you're looking for the shared template that contains -->
<!-- the header and footer, look in html/base.html -->
{% extends "base.html" %}



{% block page_content %}
<section class="row headline text-center">
 <h2 data-barley="faq-title" data-barley-editor="simple">
  Frequently Asked Questions
 </h2>
</section>
<section class="row faqs">
 <div class="col-xs-12 prose">
  <h3 class="barley_hide_outline" data-barley="faq-q-1" data-barley-editor="simple" contenteditable="false">
   What is PawBox?
  </h3>
  <div class="barley_hide_outline" data-barley="faq-a-1" data-barley-editor="advanced" contenteditable="false">
   PawBox is a monthly surprise box offering toys, treats and accessories that our own pets have loved! We help you discover the best products by sourcing from high quality suppliers. We support artisan, independent and small businesses. We do the work for you so that you don't have to shift through hundreds of thousands of items online and pay shipping costs for each and every one or go to the store during your busy day.
   <br>
    <p>
    </p>
    <hr/>
  </div>
 </div>
</section>
<section class="row faqs">
 <div class="col-xs-12 prose">
  <h3 class="barley_hide_outline" data-barley="faq-q-2" data-barley-editor="simple" contenteditable="false">
   What's in the BOOOXXXX?!
  </h3>
  <div class="barley_hide_outline" data-barley="faq-a-2" data-barley-editor="advanced" contenteditable="false">
   In every box you will find a combination of treats, toys and accessories for your beloved kitty or pup! We prioritize homemade, natural and one of a kind pawducts that are tested by our own pets before presenting them to you. From time to time we might offer a themed box to give you an extra reason to anticipate our boxes! Products may vary depending on your dog’s size too, so make sure to complete all of the membership information accurately when you sign up!
  </div>
 </div>
</section>
<section class="row faqs">
 <div class="col-xs-12 prose">
  <h3 class="barley_hide_outline" data-barley="faq-q-3" data-barley-editor="simple" contenteditable="false">
   How does billing work?
  </h3>
  <div class="barley_hide_outline" data-barley="faq-a-3" data-barley-editor="advanced" contenteditable="false">
   <p>
    All subscription plans are paid in full at the time of order, via major credit card. Your plan will automatically renew so your pup or kitty never unintentionally misses a monthly box. You will be rebilled on the 25th at the end of your cycle unless you decide to pause or cancel, which of course you can do at any time, without penalty.
    <br>
   </p>
   <p>
    Let's go through a few examples:
    <br>
   </p>
   <p>
    1) You signed up on the 10th of December for the first time for a month-to-month plan
    <br>
   </p>
   <p>
    - you will be billed at the same day
    <br>
   </p>
   <p>
    - we will ship your PawBox around the 15th
    <br>
   </p>
   <p>
    - you will be re billed on the 25th of December and the cycle goes on
    <br>
   </p>
   <p>
    <br>
   </p>
   <p>
    2) You signed up for a 3 month plan on the 10th of December
    <br>
   </p>
   <p>
    - you will be billed at the same day the whole amount of your 3 month plan
    <br>
   </p>
   <p>
    - we will ship your PawBox around the 15th of December, January and February
    <br>
   </p>
   <p>
    - you will be rebilled on the 25 of February to start a new cycle
    <br>
   </p>
   <hr/>
  </div>
 </div>
</section>
<section class="row faqs">
 <div class="col-xs-12 prose">
  <h3 class="barley_hide_outline" data-barley="faq-q-4" data-barley-editor="simple" contenteditable="false">
   Why do I have to prepay for my boxes?
  </h3>
  <div class="barley_hide_outline" data-barley="faq-a-4" data-barley-editor="advanced" contenteditable="false">
   Preparing ahead of time allows us to make better deals with our suppliers and give them enough time to prepare. As many of our suppliers are small businesses and craft their own products it takes a lot of effort and time to fulfill an order. This way we ensure consistent quality on our service as long as supporting the people we work with.
  </div>
 </div>
</section>
<section class="row faqs">
 <div class="col-xs-12 prose">
  <h3 class="barley_hide_outline" data-barley="faq-q-5" data-barley-editor="simple" contenteditable="false">
   When do you ship?
  </h3>
  <div class="barley_hide_outline" data-barley="faq-a-5" data-barley-editor="advanced" contenteditable="false">
   We ship every month around the 15th. If it's a holiday or a weekend, we will ship the next working day.
  </div>
 </div>
</section>
<section class="row faqs">
 <div class="col-xs-12 prose">
  <h3 class="barley_hide_outline" data-barley="faq-q-6" data-barley-editor="simple" contenteditable="false">
   Why was my subscription renewed? Can I cancel my subscription?
  </h3>
  <div class="barley_hide_outline" data-barley="faq-a-6" data-barley-editor="advanced" contenteditable="false">
   PawBox is a subscription service that automatically renews every cycle. If you didn't realize it when you first subscribed don't worry. You can cancel this awesome service anytime. You just have to log into your account, then go to your subscription's page and cancel the upcoming renewal of your subscription. Please note that we do not offer refunds, so make sure you cancel before your next rebilling day (which is always on the 25th). If you cancel in the middle of your prepaid 3 month plan, you will still of course get all the boxes.
  </div>
 </div>
</section>
<section class="row faqs">
 <div class="col-xs-12 prose">
  <h3 class="barley_hide_outline" data-barley="faq-q-7" data-barley-editor="simple" contenteditable="false">
   When do I need to subscribe in order to get this month's box?
  </h3>
  <div class="barley_hide_outline" data-barley="faq-a-7" data-barley-editor="advanced" contenteditable="false">
   You can get this month's box if you subscribe by the 14th. If you subscribe after this date you will be billed at the time of the order and your box will ship around the 15th of the next month. If you sign up for a 3 month prepaid plan on the 15th of December for example, you will be charged on the 15th, we'll ship your first box on the 15 of January and you'll be rebilled at the end of your cycle on the 25th of March.
  </div>
 </div>
</section>
<section class="row faqs">
 <div class="col-xs-12 prose">
  <h3 class="barley_hide_outline" data-barley="faq-q-8" data-barley-editor="simple" contenteditable="false">
   An item arrived damaged. Can I get a refund or a replace?
  </h3>
  <div class="barley_hide_outline" data-barley="faq-a-8" data-barley-editor="advanced" contenteditable="false">
   We work our best to make sure this unfortunate event doesn't occur. However if an item (or more) in your PawBox arrives damaged, we will try to make it up for your pup or kitty (dissatisfied cats are scary...). Send us back the damaged good (in its original packaging) and we will add an extra item in your next box!!
  </div>
 </div>
</section>
<section class="row faqs">
 <div class="col-xs-12 prose">
  <h3 class="barley_hide_outline" data-barley="faq-q-9" data-barley-editor="simple" contenteditable="false">
   Can I work with PawBox?
  </h3>
  <div class="barley_hide_outline" data-barley="faq-a-9" data-barley-editor="advanced" contenteditable="false">
   Are you excited about PawBox as much as we are? Are you a vendor or a rescue organization? Do you have a press enquiry? Do you have a business proposal for us? We would love to hear from you! Do not hesitate to contact us at info@pawbox.gr
  </div>
 </div>
</section>
{% endblock %}
