<!-- If you're looking for the shared template that contains -->
<!-- the header and footer, look in html/base.html -->
{% extends "base.html" %}



{% block page_content %}
<div class="row">
 <div class="col-md-12">
  <!-- Carousel
    ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
   <div class="carousel-inner" role="listbox">
    <div class="item active">
     <div class="barley_hide_outline" data-barley="car-img-1" data-barley-editor="image" contenteditable="false">
      <img class="img-responsive" src="{{ 'images/Untitled_design-2.jpg' | asset_url }}">
       <div class="img-overlay">
       </div>
      </img>
     </div>
     <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
      </span>
      <span class="sr-only">
       Previous
      </span>
     </a>
     <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
      </span>
      <span class="sr-only">
       Next
      </span>
     </a>
    </div>
    <div class="item">
     <div class="barley_hide_outline" data-barley="car-img-2" data-barley-editor="image" contenteditable="false">
      <img class="img-responsive" src="{{ 'images/banner2.jpg' | asset_url }}">
       <div class="img-overlay">
       </div>
      </img>
     </div>
     <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
      </span>
      <span class="sr-only">
       Previous
      </span>
     </a>
     <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
      </span>
      <span class="sr-only">
       Next
      </span>
     </a>
    </div>
    <div class="item">
     <div class="barley_hide_outline" data-barley="car-img-3" data-barley-editor="image" contenteditable="false">
      <img class="img-responsive" src="{{ 'images/banner3.jpg?ts=1464527449&host=pawboxgr.cratejoy.com' | asset_url }}">
       <div class="img-overlay">
       </div>
      </img>
     </div>
     <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
      </span>
      <span class="sr-only">
       Previous
      </span>
     </a>
     <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
      </span>
      <span class="sr-only">
       Next
      </span>
     </a>
    </div>
    <div class="headline cta">
     <div class="caption">
      <h1 class="barley_hide_outline" data-barley="headline-title" data-barley-editor="simple" contenteditable="false">
       A surprise box for your pet
      </h1>
      <p class="barley_hide_outline" data-barley="headline-subtext" data-barley-editor="plus" contenteditable="false">
       We pick the best toys, treats and accessories for your cats and dogs and deliver them to your door.
      </p>
      <p>
       <a class="btn btn-med btn-primary" href="/subscribe" role="button" data-barley="headline-cta" data-barley-editor="link">
        subscribe now
       </a>
      </p>
     </div>
    </div>
   </div>
   <!-- /.carousel -->
  </div>
 </div>
 <section class="row">
  <div class="col-sm-6 col-xs-6 text-center showcase">
   <div class="showcase-image barley_hide_outline" data-barley="showcase-one-image" data-barley-editor="image" contenteditable="false">
    <img class="img-responsive" src="{{ 'images/woofbox.jpg' | asset_url }}">
     <div class="img-overlay">
     </div>
     <div class="showcase-text">
      <div class="prod-name barley_hide_outline" data-barley="showcase-one-title" data-barley-editor="simple" contenteditable="false">
       Woof Box
      </div>
      <a type="button" class="btn btn-med btn-hollow barley_hide_outline" href="/subscribe" data-barley="sub_prod_1" data-barley-editor="link" contenteditable="false">
       subscribe
      </a>
     </div>
    </img>
   </div>
  </div>
  <div class="col-sm-6 col-xs-6 text-center showcase">
   <div class="showcase-image barley_hide_outline" data-barley="showcase-two-image" data-barley-editor="image" contenteditable="false">
    <img class="img-responsive" src="{{ 'images/meowbutton.jpg' | asset_url }}">
     <div class="img-overlay">
     </div>
     <div class="showcase-text">
      <div class="prod-name barley_hide_outline" data-barley="showcase-two-title" data-barley-editor="simple" contenteditable="false">
       Meow Box
      </div>
      <a type="button" class="btn btn-med btn-hollow barley_hide_outline" href="/subscribe" data-barley="sub_prod_2" data-barley-editor="link" contenteditable="false">
       subscribe
      </a>
     </div>
    </img>
   </div>
  </div>
 </section>
 <section class="row mid-content">
  <div class="col-sm-4 col-xs-12 graphic">
   <div class="img-wrap barley_hide_outline" data-barley="index-side-image" data-barley-editor="image" contenteditable="false">
    <img class="img-responsive" src="{{ 'images/dft1.jpg' | asset_url }}"/>
   </div>
  </div>
  <div class="col-sm-8 col-xs-12 prose">
   <h3 class="barley_hide_outline" data-barley="index-title" data-barley-editor="simple" contenteditable="false">
    Do you want to be part of PawBox?
   </h3>
   <div class="barley_hide_outline" data-barley="index-content" data-barley-editor="advanced" contenteditable="false">
    <p>
     We are always looking for inspired brands to work with. If your business stands by the following qualities we'd love to test some of your samples.
    </p>
    <p>
     - Natural
    </p>
    <p>
     - Eco-friendly
    </p>
    <p>
     - Safe
    </p>
    <p>
     - Great design
    </p>
    <p>
     - Homemade/Handmade
    </p>
    <p>
     - Local/Small business
     <br>
    </p>
   </div>
  </div>
 </section>
 {% endblock %}
</div>
