<!-- If you're looking for the shared template that contains -->
<!-- the header and footer, look in html/base.html -->
{% extends "base.html" %}



{% block page_content %}
<section class="row headline text-center">
  <h2 data-barley="terms-title" data-barley-editor="simple">Terms and Conditions</h2>
</section>


<section class="row faqs">

  <div class="col-xs-12 prose" data-barley="terms_conditions" data-barley-editor="advanced">

      <p><b>Sample Terms (Not Complete)</b><br></p>

      <p>Proin ac mi feugiat, auctor nibh et, congue ante. Ut tempus dui et bibendum vulputate. Sed faucibus eros urna, in molestie leo convallis vel. Pellentesque fermentum tempor purus mollis porta. Duis vel tempus turpis. Praesent feugiat nibh non aliquam venenatis. Fusce nisi orci, lobortis in tristique id, tempus commodo sem.</p>

      <p>COMPLETE YOUR TERMS AND CONDITIONS HERE... </p>

  </div>
</section>


{% endblock %}

