
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.LandingPage_mobilecontainer {
	padding: 2px 8px 2px 8px;
}
/* mobilebutton_119 */
#LandingPage_mobilebutton_119 {

}
.ui-btn.LandingPage_mobilebutton_119 {
	margin: 4px 5px 4px 5px;
}
/* mobilelabel_120 */
.LandingPage_mobilelabel_120 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilelabel_10 */
.LandingPage_mobilelabel_10 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 10px 3px 20px 3px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_11 */
.LandingPage_mobilegrid_11 {
	height: auto;
	width:100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.LandingPage_mobilegrid_11_wrapper {

}
.LandingPage_mobilegrid_11 > tr > td {
	vertical-align: top;
}
.LandingPage_mobilegrid_11_row_0, .LandingPage_mobilegrid_11_row_0 > td {
	height: 12px
}
.LandingPage_mobilegrid_11_row_1, .LandingPage_mobilegrid_11_row_1 > td {
	height: 12px
}
.LandingPage_mobilegrid_11_row_2, .LandingPage_mobilegrid_11_row_2 > td {
	height: 12px
}
.LandingPage_mobilegrid_11_row_3, .LandingPage_mobilegrid_11_row_3 > td {
	height: 12px
}
.LandingPage_mobilegrid_11_row_4, .LandingPage_mobilegrid_11_row_4 > td {
	height: 12px
}
.LandingPage_mobilegrid_11_row_5, .LandingPage_mobilegrid_11_row_5 > td {
	height: 12px
}
.LandingPage_mobilegrid_11_row_6, .LandingPage_mobilegrid_11_row_6 > td {
	height: 12px
}
/* mobilegridcell_12 */
.LandingPage_mobilegridcell_12 {
	height:12px !important;
	width:12px;
	padding: 0px 0px 0px 0px;
}
.LandingPage_mobilegridcell_12 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_52 */
.LandingPage_mobileimage_52 {
	margin: 0px 0px 0px 0px;
	width: 12px; height: 12px;
	display: block;
}
/* mobilegridcell_44 */
.LandingPage_mobilegridcell_44 {
	height:12px !important;
	width:auto;
	padding: 0px 0px 0px 0px;
}
.LandingPage_mobilegridcell_44 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_53 */
.LandingPage_mobilelabel_53 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 0px 0px 0px 2px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_38 */
.LandingPage_mobilegridcell_38 {
	height:12px !important;
	width:12px;
	padding: 0px 0px 0px 0px;
}
.LandingPage_mobilegridcell_38 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_60 */
.LandingPage_mobileimage_60 {
	margin: 2px 2px 2px 0px;
	width: 12px; height: 12px;
	display: block;
}
/* mobilegridcell_45 */
.LandingPage_mobilegridcell_45 {
	height:12px !important;
	width:auto;
	padding: 0px 2px 0px 2px;
}
.LandingPage_mobilegridcell_45 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_54 */
.LandingPage_mobilelabel_54 {
	text-decoration: none; font-weight: normal; color: #333333; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 0px 0px 0px 2px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_39 */
.LandingPage_mobilegridcell_39 {
	height:12px !important;
	width:12px;
	padding: 0px 0px 0px 0px;
}
.LandingPage_mobilegridcell_39 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_61 */
.LandingPage_mobileimage_61 {
	margin: 4px 0px 4px 0px;
	width: 12px; height: 12px;
	display: block;
}
/* mobilegridcell_46 */
.LandingPage_mobilegridcell_46 {
	height:12px !important;
	width:auto;
	padding: 0px 2px 0px 2px;
}
.LandingPage_mobilegridcell_46 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_55 */
.LandingPage_mobilelabel_55 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 0px 0px 0px 2px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_40 */
.LandingPage_mobilegridcell_40 {
	height:12px !important;
	width:12px;
	padding: 0px 0px 0px 0px;
}
.LandingPage_mobilegridcell_40 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_62 */
.LandingPage_mobileimage_62 {
	margin: 4px 0px 4px 0px;
	width: 12px; height: 12px;
	display: block;
}
/* mobilegridcell_47 */
.LandingPage_mobilegridcell_47 {
	height:12px !important;
	width:auto;
	padding: 0px 2px 0px 2px;
}
.LandingPage_mobilegridcell_47 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_56 */
.LandingPage_mobilelabel_56 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 0px 0px 0px 2px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_41 */
.LandingPage_mobilegridcell_41 {
	height:12px !important;
	width:12px;
	padding: 0px 0px 0px 0px;
}
.LandingPage_mobilegridcell_41 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_63 */
.LandingPage_mobileimage_63 {
	margin: 0px 0px 0px 0px;
	width: 12px; height: 12px;
	display: block;
}
/* mobilegridcell_48 */
.LandingPage_mobilegridcell_48 {
	height:12px !important;
	width:auto;
	padding: 0px 2px 0px 2px;
}
.LandingPage_mobilegridcell_48 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_57 */
.LandingPage_mobilelabel_57 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 0px 0px 0px 2px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_42 */
.LandingPage_mobilegridcell_42 {
	height:12px !important;
	width:12px;
	padding: 0px 0px 0px 0px;
}
.LandingPage_mobilegridcell_42 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_64 */
.LandingPage_mobileimage_64 {
	margin: 0px 0px 0px 0px;
	width: 12px; height: 12px;
	display: block;
}
/* mobilegridcell_49 */
.LandingPage_mobilegridcell_49 {
	height:12px !important;
	width:auto;
	padding: 0px 2px 0px 2px;
}
.LandingPage_mobilegridcell_49 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_58 */
.LandingPage_mobilelabel_58 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 0px 0px 0px 2px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_43 */
.LandingPage_mobilegridcell_43 {
	height:12px !important;
	width:12px;
	padding: 0px 0px 0px 0px;
}
.LandingPage_mobilegridcell_43 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_65 */
.LandingPage_mobileimage_65 {
	margin: 4px 0px 4px 0px;
	width: 12px; height: 12px;
	display: block;
}
/* mobilegridcell_50 */
.LandingPage_mobilegridcell_50 {
	height:12px !important;
	width:auto;
	padding: 0px 2px 0px 2px;
}
.LandingPage_mobilegridcell_50 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_59 */
.LandingPage_mobilelabel_59 {
	text-decoration: none; font-weight: normal; text-align: left; font-family: Helvetica; font-size: 12px;
	margin: 0px 0px 0px 2px;
	word-wrap: break-word;
	white-space: normal;
}
/* message_grid */
.LandingPage_message_grid {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.LandingPage_message_grid_wrapper {

}
.LandingPage_message_grid > tr > td {
	vertical-align: top;
}
.LandingPage_message_grid_row_0, .LandingPage_message_grid_row_0 > td {
	height: 0px
}
/* message_cell */
.LandingPage_message_cell {
	height:0px !important;
	width:167px;
	padding: 0px 2px 2px 2px;
	border-color: #000000; border-width: 1px; border-style: solid;
}
.LandingPage_message_cell > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_72 */
.LandingPage_mobilelabel_72 {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mess_textarea */
.LandingPage_mess_textarea {
	margin: 4px 0px 4px 0px;
}
/* introEmail_input */
.LandingPage_introEmail_input {
	margin: 4px 0px 0px 0px;
}
/* mobilebutton_121 */
#LandingPage_mobilebutton_121 {

}
.ui-btn.LandingPage_mobilebutton_121 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.LandingPage_mobilefooter {
	min-height:38px;
}
/* error_popup */
.LandingPage_error_popup {

}
div.LandingPage_error_popup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.LandingPage_error_popup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
	padding: 10px 10px 10px 10px;
}
/* error_label */
.LandingPage_error_label {
	text-decoration: none; font-weight: bold; font-style: italic; color: #dd3333; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* succ_popup */
.LandingPage_succ_popup {

}
div.LandingPage_succ_popup {
	max-height: 100vh;
	box-sizing: border-box;
}
div.LandingPage_succ_popup .ui-popup-content-wrapper {
	width:100%;
	height:100%;
	max-height: 99vh;
	overflow:auto;
	box-sizing: border-box;
	padding: 10px 10px 10px 10px;
}
/* succ_label */
.LandingPage_succ_label {
	text-decoration: none; font-weight: bold; font-style: italic; color: #33aa33; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}