/*colors*/
$navBarColor: rgba(36,0,52,0.8);

$bgColor0: #4f0070;
$bgColor1: #f7e1ff;
$bgColor2: #ffffff;
$bgColorSuperDark: #240034;
$dark: black;
$darkOpacity:rgba(0,0,0,0.1);
$bgColorOpacity:rgba(36,0,52,0.5);

$brightColor: #bf3df6;


$fontColorDark0: #322d34;
$fontColorDark1: #474049;
$fontColorDark2: #776c7b;

$fontColorLight0: #ffffff;
$fontColorLight1: #f1caff;
