$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "../fonts/akrobat/akrobat.css";
@import "../fonts/roboto/roboto.css";
@import "../fonts/nautilus/nautilus.css";

/*colors*/
@import "settings";



/**************/

/*NAVBAR*/
.navbar{
  height: 50px;
  background-color: $blackoutDarkColor;
  border-color: transparent;
  .container{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;

    a {
      img {
        display: inline-block;
        width: 140px;
        float: left;
      }

      h1 {
        display: inline-block;
        font-family: 'Nautilus Pompilius';
        line-height: 25px;
        margin: 0 0 0 15px;
        padding-top: 7px;
        color: $primaryColor;

        span.logoBigText{
          font-size: 40px;
          background: linear-gradient($primaryColor 20px, $superLightColor);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        span.logoSmallText {
          font-size: 20px;
          transition-property: color;
          transition-duration: 2s;
        }
      }
    }
  }
}

.navbar-default{
  .navbar-collapse.collapse.in{
    background-color: $blackoutSuperDarkColor;
    transition-property: background;
    transition-duration: .5s;
  }
  .navbar-nav{
    li{
      a{
        height: 40px;
        font-size: 20px;
        color: $primaryColor;
        background: linear-gradient( $primaryColor 10px,$superLightColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      hr{
        width: 0;
        margin: 0 auto;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $primaryColor, rgba(0, 0, 0, 0));
        transition-property: width;
        transition-duration: 0.3s;
      }
    }
    li:hover hr{
      width: 100%;
    }
    .active>hr{
      width: 100%;
    }
  }
}
/*END NAVBAR*/

/*HEADER*/
.blackout{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  background: $blackoutDarkColor;
}

header.home{
  overflow-x: hidden;
  padding-top: 0.1px;
  .containerForCarousel{
    width: 100%;
    margin-top: 0;
    top:0;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);

    img{
      height: 100%;
      max-width: none;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
    .carousel-control{
      background-image:none;
    }
    .carousel-control.left{
      z-index: 1;
    }
    .carousel-control.right{
      z-index: 1;
    }
  }

  .containerForBtn{
    width: 100%;
    margin-top: 300px;

    .slogan{
      margin-bottom: 50px;
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Roboto';
      font-weight: 300;
      font-size: 30px;
      line-height: normal;
    }
    a.makeOrder{
      width: 200px;
      height:45px;
      margin-bottom: 20px;
      font-size: 22px;
    }

    a {
      position: relative;
      left:50%;
      transform: translate(-50%,0);
    }

    p {
      display: inline-block;
      position: relative;
      left:50%;
      transform: translate(-50%,0);
      margin-bottom: 20px;
      text-align: center;
      font-size: 15px;
      line-height: 15px;
      font-family: 'Akrobat';
      color: $fontColorWhite;
    }
  }
}

/*SERVICES*/

section.services{
  padding-top: 50px;
  position: relative;
  color: $darkColor;
  .blackout{
    background-color: $blackoutLightColor;
    top:0;
    z-index: -1;
  }
  .bgLogoCont{
    position: absolute;
    z-index: -1;
    width: 100%;
    margin: 0;
    .bgLogo{
      height: 100%;
      img{
        display: block;
        max-width: 50%;
        margin: auto;
      }
    }
    .left{
      float: left;
    }
    .right{
      float: right;
    }
  }

  .servicesHeader{
    text-align: center;
    font-family: "Nautilus Pompilius";
    margin-top: 5px;
    margin-bottom: 30px;
  }

  .servicesList{
    padding-bottom: 20px;
    .row.first .column:first-child{
      margin-left: 12.5%;

    }
    a:hover .borderImg{
      box-shadow: 0 0 50px 5px $darkColor ;
    }
    a:hover .borderImg>.imgServices{
      box-shadow: 0 0 100px 10px $darkColor inset;
    }
    .column{
      text-align: center;

      .borderImg{
        display: inline-block;
        position: relative;
        height: 100%;
        border: none;
        border-radius: 50%;
        box-shadow: 0 0 30px 5px $darkColor ;
        overflow: hidden;
        transition-property: box-shadow;
        transition-duration: .5s;
        .serviceNameCont{
          position: absolute;
          height: 30%;
          background: $blackoutDarkColor;
          color: $superLightColor;
          width: 100%;
          top:50%;
          transform: translate(0,-50%);
          .serviceName{
            position: absolute;
            left:50%;
            top:50%;
            transform: translate(-50%,-50%);
            font-family: "Nautilus Pompilius";
            font-size: 25px;
          }
        }

        .imgServices{
          display: block;
          position: relative;
          height: 250px;
          width: 250px;
          border-radius: 50%;
          background-image: url("../images/services/1-wedding.jpg");
          background-size: cover;
          box-shadow: 0 0 30px 10px $darkColor inset;
          transition-property: box-shadow;
          transition-duration: 1s;
        }
      }
    }
  }
}


/*END SERVICES*/

/*ABOUT*/

section.about{
  margin: 0;
  padding: 60px 10px 0 10px;
  color: $darkColor;
  text-align: center;
  font-size: 20px;

  h1,h2{
    margin-bottom: 15px;
  }
  .aboutHeader{
    margin-bottom: 15px;
  }
  .aboutText{
    width: 70%;
    margin: auto;
    text-align: justify;
    text-indent:3rem;
    line-height: 2.5rem;
  }
  .aboutHeader-2{
    margin-bottom: 15px;
  }
  .aboutList{
    margin-left: 15%;
    padding-left: 15px;
    text-align: left;

    li{
      margin-bottom: 10px;
    }
  }

  /*OUR TEAM*/

  .containerForOurTeam{

    .imgCont{
      position: relative;
      width: 100%;
      left: calc(50%);
      top: 0;
      transform: translate(-50%,0);
      transition-property: height, width, display;
      transition-duration: 1s;
    }

    .popUp {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: $blackoutDarkColor;
      cursor: pointer;

        .aCont {
          position: absolute;
          width: 100%;
          top: 50%;
          transform: translate(0, -50%);

        a {
          margin-right: 10px;
          color: $darkColor;
          transition-property: color;
          transition-duration: 0.3s;
        }

        a:hover {
          color: $primaryColor;
        }

        a:last-child {
          margin: 0;
        }
      }
    }
    img{
      display: block;
      width: 100%;
      transition-property: height;
      transition-duration: 1s;
    }
    .imgCont:hover{
      width: 120%;

      .popUp{
        display: block;
     }
    }

    blockquote{
      border-left: 3px solid;
      border-image: linear-gradient(to top, $darkColor, rgba(0, 0, 0, 0)) 1 100%;

      em{
        color:$darkColor;
        font-size: 14px;

        .miniFooter{
          display: block;
          margin-top: 10px;
          font-size: 16px;
          text-align: center;
        }
      }
    }
  }
}
/*END OUR TEAM*/

/*END ABOUT*/

/*CONTACTS*/

section.contacts{
  padding: 50px 5% 20px 5%;
  background: $darkColor;
  color: $fontColorWhite;

  h1{
    text-align: center;
    margin-bottom: 20px;
  }

  .containerForCircles{
    margin-bottom: 20px;
    .circle{
      position: relative;
      float: left;
      height: 50px;
      width:50px;
      background: $primaryColor;
      border-radius: 50%;
      transition-property: background-color;
      transition-duration: .5s;
      .fa{
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        color:$fontColorWhite;
      }
    }
    .circle:hover{
      background: $lightColor;
    }
    h3{
      margin: 12px;
      display: inline-block;
    }
  }
  .containerForCircles>div{
    margin-bottom: 10px;
  }

  .btn.makeOrder{
    margin: 0 auto 20px auto;
    display: block;
    width: 200px;
    height: 50px;
    font-size: 20px;
    padding-top: 10px;
  }
  .address{
    font-size: 20px;
    margin-bottom: 0;
  }
  #map{
    border-top: 10px solid  $darkColor;
    height: 400px;
    overflow: hidden;
  }

    #content{
      color: $darkColor;
      text-align: center;
      h1{
        font-size: 20px;
        margin-bottom: 0;
      }
      h2{
        font-size: 15px;
        margin-top: 5px;
      }
    }
}


/*END CONTACTS*/

/*FOOTER*/

.footer{
  padding-top: 10px;
  color: $fontColorWhite;
  background: linear-gradient(to bottom ,  $darkColor -15px, #000) ;
  border-top:1px solid rgba(255,255,255,.5);
  .row{
    margin-bottom: 20px;
  }
  h1{
    font-size: 20px;
    text-transform: uppercase;
  }
  h1,h2{
    margin-top: 0;
  }
  .footer-brand{

    img{
      height: 100px;
      float: left;
    }

    h1,h2{
      display: inline-block;
      margin-left: 10px;
    }

    h2{
      font-size: 15px;
    }
  }
  .copy{
    margin-bottom: 0;
    font-weight: 100;
    text-align: center;
    background: rgba(255,255,255,0.2);
  }
}

/*END FOOTER*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 992px) and (max-width: 1250px) {
  /*NAVBAR*/
  /*END NAVBAR*/

  /*HEADER*/



  /*END HEADER*/

  /*SERVICES*/

  section.services{
    .servicesList {
      .column {
        .borderImg {
          .imgServices{
            height:220px;
            width:220px;
          }
        }
      }
    }
  }

  /*END SERVICES*/
  /*ABOUT*/
  /*END ABOUT*/
  /*OUR TEAM*/

  /*END OUR TEAM*/
  /*CONTACT*/
  .contacts{
    .containerForCircles{
      .col-md-6{
        width: 50%;
      }
      .col-md-6:last-child{
        width: 100%;
      }
    }
  }
  /*END CONTACT*/

}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /*NAVBAR*/

  .navbar {
    .container {
      a {
        img{
          width: 90px;
        }

        h1{
          span.logoBigText{
            font-size: 35px;
          }
        }
      }
    }
  }



  /*END NAVBAR*/

  /*HEADER*/



  /*END HEADER*/

  /*SERVICES*/

  section.services{

    .servicesList {
      .row.first{
        .column:first-child{
          margin-left: 25%;
          margin-bottom: 0;
        }
      }
      .column {
        margin-bottom: 40px;
        .borderImg {
          .imgServices{
            height:300px;
            width:300px;
          }
        }
      }
    }
  }

  /*END SERVICES*/
  /*ABOUT*/
  .containerForAbout{
    p.aboutText{
      width: 90%;
    }
  }
  /*END ABOUT*/
  /*OUR TEAM*/

  .containerForOurTeam{
    width: 90%;
    margin: auto;

    .col-lg-3{
      padding: 0 5%
    }
  }

  /*END OUR TEAM*/
  /*CONTACT*/

  /*END CONTACT*/

}



@media screen and (max-width: 767px) {
  /*NAVBAR*/
  #nav-logo{
    display: none;
  }
  .navbar{
    background-color: $blackoutSuperDarkColor;
    h1{
      .logoSmallText{
        display: none;
      }
    }
  }
  /*END NAVBAR*/

  /*HEADER*/

  header.home{
    .containerForBtn{
      margin-top: 100px;
    }
  }

  /*END HEADER*/

  /*SERVICES*/

  section.services{

    .servicesList {
      .row.first{
        .column:first-child{
          margin-left: 0;
        }
      }
      .column {
        margin-bottom: 40px;
        .borderImg {
          .imgServices{
            height:250px;
            width:250px;
          }
        }
      }
    }
  }

  /*END SERVICES*/
  /*ABOUT*/
  .containerForAbout{
    p.aboutText{
      width: 90%;
    }
  }
  /*END ABOUT*/
  /*OUR TEAM*/

  .containerForOurTeam{
    width: 90%;
    margin: auto;

    .col-lg-3{
      padding: 0 10%
    }
  }

  /*END OUR TEAM*/
  /*CONTACT*/
  .contacts{
    .centeredColumns{
      display: inline-block;
    }
    .containerForCircles{
      h3{
        font-size: 14px;
      }
    }
  }
  /*END CONTACT*/

}


@media screen  and (max-width: 991px) {
  /*FOOTER*/
  footer.footer{


    .centeredColumns{
      display: block;
      text-align: center;
    }
    .footer-brand {
      img{
        display: inline;
        float: none;
      }

      h1, h2{
        display: block;
      }
    }

  }


  /*END FOOTER*/

}
