$darkColor: #000033;
$superLightColor: #fff;
$lightColor: #ffcc00;
$buttonBrightColor:#a80342;
$primaryColor: #ff6600;

$blackoutSuperDarkColor: rgba(0,0,0,0.8);
$blackoutDarkColor: rgba(0,0,0,0.5);
$blackoutLightColor: rgba(0,0,0,0.1);

$fontColorWhite:#fff;

*:hover{
  .no-touch &:hover,
  .touch &:active {

  }
}

body{
  font-family: 'Roboto';
  overflow-x: hidden;
  margin: 0;
  padding: 0.1px;

}
a{
  color: inherit;
}
a:hover{
  color:$primaryColor;
}
h1,h2,h3{
  font-weight: 300;
}

.row{
  margin: 0;
}
.btn{
  transition-property: background,color,border;
  transition-duration: 1s;
}

.btn-primary {
  background-color:$primaryColor;
  border-color: $primaryColor;
}

.btn-primary:hover {
  background-color: $lightColor;
  border-color: $lightColor;
}

.btn-transparent {
  border-color: $superLightColor;
  color: $superLightColor;
}

.btn-transparent:hover {
  background-color: $lightColor;
  border-color: $lightColor;
}

.btn-bright{
  background-color: $buttonBrightColor;
  border-color: $buttonBrightColor;
  color:$fontColorWhite;
}
.btn-bright:hover {
  background-color: $lightColor;
  border-color: $lightColor;
}

.btn-close{
  background: transparent;
  border-color: $fontColorWhite;
}
.btn-close:hover,.btn-close:focus{
  color: $buttonBrightColor;
  border-color: $buttonBrightColor;
}


.btn-delete:hover,.btn-delete:focus, .btn-delete:active:focus{
  color: $buttonBrightColor;
  border: 0 solid transparent;
  outline: none;
}

.btnLeft,.btnRight{
  background: transparent;
  border-color: transparent;
  opacity: 0.5;
}
.btnLeft:hover,.btnLeft:focus,.btnRight:hover,.btnRight:focus ,.btnLeft:active,.btnRight:active,.btnLeft:active:focus,.btnRight:active:focus{
  color: $buttonBrightColor;
  border-color: transparent;
  outline-color: transparent;

}

.centeredColumns{
  display: table;
  margin-left: auto;
  margin-right: auto;
}

@media screen  and (max-width: 991px) {
  .btn-primary:hover {
    background-color: $primaryColor;
    border-color: $primaryColor;
  }

  .btn-transparent:hover {
    background-color: transparent;
    border-color: $fontColorWhite;
  }

  .btn-bright:hover {
    background-color: $buttonBrightColor;
    border-color:$buttonBrightColor;
  }
}
