body{
    font-family: sans-serif , verdana;
    font-weight: normal;
    font-size: 14px;
}
ul{
    list-style: none;
}
nav{
    background: #1565c0;
    height: 50px;
    padding: 0 10px 0 10px;
}
nav img{
    padding-top: 5px;
    height: 40px;
    float:left;
}

/*nav ul*/
nav ul{
    
    margin: 0;
    padding:0;
    overflow: hidden;
    float :right;
    vertical-align: middle;
}

nav ul li{
    float:right;
}

nav ul li a{
    display:block; 
    margin: 0 10px 0 10px;
 }
nav ul li a img{
    height: 20px;
    padding-top: 15px;

}
/*enb nav ul*/

/*context*/
.main {
    height:1250px;
}

.right-bar, .left-bar, .content{
    height:1250px;
}

@media (max-width: 768px){
.right-bar, .left-bar, .content{
    height:1500px;
    }
}

@media (max-width: 992px) and (min-width: 512px){
.right-bar{
    margin-left: 25%;
    }
}

.right-bar{
    background: #dcdcdc;
}

 .left-bar {
    background: #F5F5F5;
}

.top-img{
    width: auto;
    height: 200px;
    background: url(img/background-cont.png) no-repeat #f3f3f3 top center;
    font-family: sans-serif;
    font-weight: normal;
    color: #fff;
    margin-bottom: 70px;
}

@media (min-width: 512px){
.top-img{
    -webkit-background-size: cover; 
    -moz-background-size: cover;  
    -o-background-size: cover;  
    -ms-background-size: cover;  
    background-size: cover; 
    }
}

.top-img .circle{
height:120px;
margin: 140px 20px 0 40px;
}

.top-img div{
    float:left;
}

.top-img div span{
    display: block;
    margin-top:150px;
    border-bottom: 1px dashed #fff;
}

.top-img div span img{
    padding-left: 20px;
}

@media (min-width: 768px){
    .create-form .row .column:nth-child(odd) {
    padding-right: 5px;
    }
    .create-form .row .column:nth-child(even) {
    padding-left: 5px;
    }
}

.create-form label{
    color: green; 
}

.create-form label.black{
    color: black; 
}

.container-form{
    width: 90%;
    margin:0 auto;
}

.container-form .small{
    width: 80px;
    margin: 5px 0 0 0;
}

 .create-form .select::-ms-expand {
    border:none; 
}

.create-form textarea, input, select{
    display: block;
    margin: 5px auto 0 auto;
    padding: 10px;
    font-family: sans-serif;
    font-weight: normal;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -o-box-sizing: border-box;  
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-radius:2px;
    border-style:solid;
    border-color: #ccc;
    border-width:1px;
}

#dont-match{
    float: right;
    padding:0;
    margin: -10px 0 0 0;
    text-align: center;
}
.create-form .dont-match, .create-form .dont-match label{
    color: red;
    float: left;
}
.create-form .dont-match input{
    border-color: red;
}

.container-form li:nth-child(1){
    padding-top: 5px;
}

.container-form div{
    margin: 10px 0px;
}

.container-form li{
    display: block;
    height:30px;
}

.container-form li a img{

    margin: -2px 0 0 0;
    padding:0;
}

.container-form ul{
    float: left;
    line-height: 0.8em;
    padding-left: 5px;
}

.container-form li input {
    margin: 0;
    width: 20px;
}

.container-form label{
    clear: both;
}

.container-form .new-member{
    clear: left;
}

.container-form input[name="add-ben"]{
    background: url(img/basket.png) no-repeat right;
}

.container-form div .clear{
    margin-bottom: 20px;
}

.container-form img[src="img/add.png"]{
    float: right;
    margin-top:10px;
}

.container-form img[src="img/add.png"]:hover{
    cursor: pointer;
}

.container-form div.end{
    margin-bottom: 30px;
}

.min-txt{
    font-size: 12px;
}

/* button*/
.button {
  display: inline-block;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: rgb(58,145,224) #000 rgb(58,145,224);
  border-radius: 6px;
  background: linear-gradient(rgb(58,145,224), rgb(58,160,270)) rgb(58,145,224);
  transition: 0.2s;
  float:right;
} 

.button:hover { background: linear-gradient(rgb(70,145,224)rgb(120,145,224)) rgb(58,145,224); 
cursor:pointer;
}

.button:active { background: linear-gradient(rgb(58,145,224), rgb(58,145,224)) rgb(58,145,224);}

.button-txt{
    display: inline-block;
    text-decoration: none;
    color: #dcdcdc;
    border:none;
    background: none;
    font-size: 16px;
    float:right;
    padding: .5em 2em;
}

.button-txt:hover{
    cursor:pointer;
}

/*end button*/

/* Check-box*/
.container-form .ch-b{
    margin-top: -40px;
}

input[type="checkbox"],
input[type="radio"] {
    display:none;            
}

input[type="checkbox"] + label, 
input[type="radio"] + label {
  color: black;
  cursor: pointer;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 5px 0 0;
    background-image: url(img/unchecked.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}

input[type="checkbox"] + label::before {
    background-position: left;    
}

input[type="checkbox"]:checked + label::before {
    background-position: left;
    background-image: url(img/checked.png);
}

input[type="checkbox"]:disabled + label::before {
    background-position: left;
     opacity: 0.5;
}

input[type="checkbox"]:checked:disabled + label::before {
    background-position: left;
    opacity: 0.5;
    background-image: url(img/checked.png);
}

/*end Check-box*/

/*end context*/

/*responsive grid system*/

.row,
.column {
    box-sizing: border-box;
}

.column {
    position: relative;
float: none;
        width: auto;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

@media (min-width: 512px){
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16{
     float:left;   
    }
    .col-xs-16 {  width: 100%;  }
    .col-xs-15 {  width: 93.75%;  }
    .col-xs-14 {  width: 87.5%;  }
    .col-xs-13 {  width: 81.25%;  }
    .col-xs-12 {  width: 75%;  }
    .col-xs-11 {  width: 68.75%;  }
    .col-xs-10 {  width: 62.5%;  }
    .col-xs-9 {  width: 56.25%;  }
    .col-xs-8 {  width: 50%;  }
    .col-xs-7 {  width: 43.75%;  }
    .col-xs-6 {  width: 37.5%;  }
    .col-xs-5 {  width: 31.25%;  }
    .col-xs-4 {  width: 25%;  }
    .col-xs-3 {  width: 18.75%;  }
    .col-xs-2 {  width: 12.5%;  }
    .col-xs-1 {  width: 6.25%;  }
}
@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16 {
        float: left;
    }
    .col-sm-16 {  width: 100%;  }
    .col-sm-15 {  width: 93.75%;  }
    .col-sm-14 {  width: 87.5%;  }
    .col-sm-13 {  width: 81.25%;  }
    .col-sm-12 {  width: 75%;  }
    .col-sm-11 {  width: 68.75%;  }
    .col-sm-10 {  width: 62.5%;  }
    .col-sm-9 {  width: 56.25%;  }
    .col-sm-8 {  width: 50%;  }
    .col-sm-7 {  width: 43.75%;  }
    .col-sm-6 {  width: 37.5%;  }
    .col-sm-5 {  width: 31.25%;  }
    .col-sm-4 {  width: 25%;  }
    .col-sm-3 {  width: 18.75%;  }
    .col-sm-2 {  width: 12.5%;  }
    .col-sm-1 {  width: 6.25%;  }
}

@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16 {
        float: left;  }
    .col-md-16 {  width: 100%;  }
    .col-md-15 {  width: 93.75%;  }
    .col-md-14 {  width: 87.5%;  }
    .col-md-13 {  width: 81.25%;  }
    .col-md-12 {  width: 75%;  }
    .col-md-11 {  width: 68.75%;  }
    .col-md-10 {  width: 62.5%;  }
    .col-md-9 {  width: 56.25%;  }
    .col-md-8 {  width: 50%;  }
    .col-md-7 {  width: 43.75%;  }
    .col-md-6 {  width: 37.5%;  }
    .col-md-5 {  width: 31.25%;  }
    .col-md-4 {  width: 25%;  }
    .col-md-3 {  width: 18.75%;  }
    .col-md-2 {  width: 12.5%;  }
    .col-md-1 {  width: 6.25%;  }
}

@media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16 {
        float: left;
    }
    .col-lg-16 {  width: 100%;  }
    .col-lg-15 {  width: 93.75%;  }
    .col-lg-14 {  width: 87.5%;  }
    .col-lg-13 {  width: 81.25%;  }
    .col-lg-12 {  width: 75%;  }
    .col-lg-11 {  width: 68.75%;  }
    .col-lg-10 {  width: 62.5%;  }
    .col-lg-9 {  width: 56.25%;  }
    .col-lg-8 {  width: 50%;  }
    .col-lg-7 {  width: 43.75%;  }
    .col-lg-6 {  width: 37.5%;  }
    .col-lg-5 {  width: 31.25%;  }
    .col-lg-4 {  width: 25%;  }
    .col-lg-3 {  width: 18.75%;  }
    .col-lg-2 {  width: 12.5%;  }
    .col-lg-1 {  width: 6.25%;  }
}

/*end grid system*/