{% extends "base.html" %}
{% block title %}{{ flow_step.page_title | default("Choose a Term", True) }}{% endblock %}

{% block page_content %}

{% from "subscribe_flow/progress_bar.html" import progress_bar %}
{{ progress_bar(flow_data, flow_step) }}

<section class="row subscribe">
	<div class="col-md-12">
		<div class="row head">
			<div class="col-sm-12 text-center">
				<h1 class="heading h-section text-center lrg-heading-grp">{{ flow_step.page_title | default("Choose a Term", True) }}</h1>
				<p>{{ flow_step.page_description | default("", True) }}</p>
			</div>
		</div>
		<div class="row content terms"> <!-- Begin term list -->
			{#
				Loop over each of the term price objects attached the chosen product instance and display the enabled term prices
			#}
			{% for term in flow_step.terms %}
			{% if term.enabled %}
			<div class="item term"> <!-- Begin term -->
				{#
					Uses a placeholder image for every term. This can be changed to use a different image for each term using the visual designer.
				#}
				<a href="{{ term | subscribe_flow_url }}">
					<div class="image-container">
						{{ term | object_img_tag(default_img_path="images/term_placeholder.jpg", css_class="") }}
					</div>
				</a>

				<div class="information">
					<!-- Term Name -->
					<div class="name-container line-limited">
						<div class="name">
							{{ term.name }}
						</div>
					</div>

					<div class="price">
						{#
							Display the term price formatted properly for the current store currency
						#}
						<p>
              {{ (term.price / term.num_cycles) | currency }} / mo.
						</p>
					</div>

					{#
						Creates a link which advances the subscribe flow to the next step, choosing the current subscription term as well any previously specified product and variants
					#}
					<a type="button" href="{{ term | subscribe_flow_url }}" class="btn btn-large btn-primary" data-barley="terms-{{term.id}}-choose-btn" data-barley-editor="simple">choose</a>

					<div class="description-container line-limited">
						<div class="description">
							{#
								Renders the term description if one exists, otherwise uses the default string
							#}
							{{ term.description | default("Term description goes here.", True) }}
						</div>
					</div>
				</div>

			</div> <!-- End term -->
			{% endif %}
			{% endfor %}
		</div> <!-- End term list -->
	</div>
</section>
{% endblock %}