<div class="page-header comments-header">Последние комментарии:</div>
	<div class="comments-block">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="comments-block__singlecomment">
						<div class="comments-block__name">
							<b>Николай Андреевич</b>
							ответил:
						</div>
						<div class="comments-block__comment">
							"Вот это новость!"
						</div>
						<div class="comments-block__article">
							к статье
						</div>
						<a href="#" class="comments-block__link">
							http://mednews24/mednovosti/news/2016/07/13/191cycling/
						</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="comments-block__singlecomment">
						<div class="comments-block__name">
							<b>Николай Андреевич</b>
							ответил:
						</div>
						<div class="comments-block__comment">
							"Вот это новость!"
						</div>
						<div class="comments-block__article">
							к статье
						</div>
						<a href="#" class="comments-block__link">
							http://mednews24/mednovosti/news/2016/07/13/191cycling/
						</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="comments-block__singlecomment">
						<div class="comments-block__name">
							<b>Николай Андреевич</b>
							ответил:
						</div>
						<div class="comments-block__comment">
							"Вот это новость!"
						</div>
						<div class="comments-block__article">
							к статье
						</div>
						<a href="#" class="comments-block__link">
							http://mednews24/mednovosti/news/2016/07/13/191cycling/
						</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="comments-block__singlecomment">
						<div class="comments-block__name">
							<b>Николай Андреевич</b>
							ответил:
						</div>
						<div class="comments-block__comment">
							"Вот это новость!"
						</div>
						<div class="comments-block__article">
							к статье
						</div>
						<a href="#" class="comments-block__link">
							http://mednews24/mednovosti/news/2016/07/13/191cycling/
						</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="comments-block__singlecomment">
						<div class="comments-block__name">
							<b>Николай Андреевич</b>
							ответил:
						</div>
						<div class="comments-block__comment">
							"Вот это новость!"
						</div>
						<div class="comments-block__article">
							к статье
						</div>
						<a href="#" class="comments-block__link">
							http://mednews24/mednovosti/news/2016/07/13/191cycling/
						</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="comments-block__singlecomment">
						<div class="comments-block__name">
							<b>Николай Андреевич</b>
							ответил:
						</div>
						<div class="comments-block__comment">
							"Вот это новость!"
						</div>
						<div class="comments-block__article">
							к статье
						</div>
						<a href="#" class="comments-block__link">
							http://mednews24/mednovosti/news/2016/07/13/191cycling/
						</a>
					</div>
				</div>
				<div class="col-md-12">
					<div class="comments-block__seeall">
						<a href="">Смотреть еще ></a>
					</div>
				</div>
			</div>
		</div>
	</div>